.button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .2s linear;
}

.button:hover {
  cursor: pointer;
  opacity: .6;
}
