.auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  top: 179px;
  left: 0;
  background-color: #000;
}

@media screen and (max-width: 1024px) {
  .auth {
    top: 135px;
  }
}


@media screen and (max-width: 650px) {
  .auth {
    top: 116px;
  }
}