.profile {
  display: flex;
  align-items: center;
  width: 880px;
}

@media screen and (max-width: 1000px) {
  .profile{
    flex-direction: column;
    width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .profile{
    width: 282px;
  }
}
