.header__auth-btn {
  min-width: 56px;
  height: 22px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

@media screen and (max-width: 650px) {
  .header__auth-btn {
    font-size: 14px;
    line-height: 17px;
    text-align: start;
  }
}