.form__input-error {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  position: absolute;
  left: 0;
  top: 44px;
}
