.card__counter-like {
  margin: 0;
  position: absolute;
  right: 26px;
  bottom: 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
