.profile__title {
  max-width: 488px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .profile__title {
    margin: 0 45px;
  }
}

@media screen and (max-width: 650px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
