.popup__message-container {
  padding: 60px 36px;
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}