.page__profile {
  margin-top: 40px;
  margin-left: calc((100% - 880px)/2);
  margin-right: calc((100% - 880px)/2);
}

@media screen and (max-width: 1000px) {
  .page__profile{
    margin-top: 42px;
    margin-left: calc((100% - 581px)/2);
    margin-right: calc((100% - 581px)/2);
  }
}

@media screen and (max-width: 650px) {
  .page__profile{
    margin-left: calc((100% - 282px)/2);
    margin-right: calc((100% - 282px)/2);
  }
}
