.page__header {
  margin-left: calc((100% - 880px)/2);
  margin-right: calc((100% - 880px)/2);
}

@media screen and (max-width: 1000px) {
  .page__header {
    margin-left: calc((100% - 581px)/2);
    margin-right: calc((100% - 581px)/2);
  }
}

@media screen and (max-width: 650px) {
  .page__header {
    margin: 0;
  }
}
