.header {
  width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    width: 100%;
    min-height: 56px;
  }
}
