.form__input {
  width: 358px;
  height: 40px;
  padding: 13px 0;
  margin-bottom: 34px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 650px) {
  .form__input {
    width: 238px;
  }
}
